:host {
    display: block;
    width: 100%;
    height: 100%;
}
td.name > div {
    display: flex;
}
td.emoji {
    font-size: 3em;
    width: 175px;
}
tr.footer {
    code {
        font-size: 0.9em;
    }
}