:host {
    display: block;
    width: 100%;
    height: 100%;
}
:host > .header {
    height: calc(47px + 1em);
    padding: 0.5em;
    margin: 0;
    background-color: #f8f9fa;

    ::ng-deep .groupSelect {
        width: 17rem;
    }
    > .selectButton {
        display: block;
    }
    > .button {
        display: none;
    }
}
:host > .body {
    height: calc(100% - 47px - 1em - 244px);
    width: 100%;
    border: 1px solid #dee2e6;
    border-width: 1px 0 0 0;

    td.emoji {
        font-size: 3em;
        width: 175px;

        .twemoji-wrapper {
            width: 64px;
            height: 64px;

            img.twemoji {
                width: 3rem;
                height: 3rem;
                display: block
            }
        }
    }

    &.grid-mode {
        .grid-header {
            width: 100%;
            height: 38px;
            border: 1px solid #dee2e6;
            border-width: 0 0 1px 0;
            background-color: #f8f9fa;
                
            > .gridSlider {
                width: 15rem;
            }
        }
        .grid-body {
            height: calc(100% - 38px);
        }
        div.grid-item {
            border-width: 1px;
            border: transparent solid 1px;
        }
        div.grid-item:not(.selected):hover {
            background-color: #e9ecef;
            border: #dee2e6 solid 1px;
        }
        div.grid-item.selected {
            background-color: #EFF6FF;
            border: #dee2e6 solid 1px;
        }
    }
}
:host > .footer {
    position: absolute;
    bottom: 0;
    height: 245px;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-width: 1px 0 0 0;

    .emoji {
        font-size: 10em;
        width: 250px;

        a, a:active {
            color: black;
            text-decoration: none;
        }

        .twemoji-wrapper {
            width: 250px;
            height: 250px;

            img.twemoji {
                width: 10rem;
                height: 10rem;
                display: block
            }
        }
    }
    .detail {
        width: calc(100% - 250px);

        .detail-label {
            width: 120px;
        }
        .detail-value {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            code {
                font-size: 0.9em;
            }
        }
    }
    .group {
        a, a:visited {
            color: #343a40;
        }
    }
    .code-point {
        .code-point-label {
            width: 120px;
        }
        .code-point-detail {
            width: calc(100% - 120px);

            a, a:visited {
                color: #343a40;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    :host > .header {
        background-color: #071426;
    }
    :host > .body {
        border: 1px solid #0b213f;

        &.grid-mode {
            background-color: #071426;

            .grid-header {
                border: 1px solid #0b213f;
                border-width: 0 0 1px 0;
                background-color: #071426;
            }
            div.grid-item:not(.selected):hover {
                background-color: rgba(255, 255, 255, 0.03);
                border: #0b213f solid 1px;
            }
            div.grid-item.selected {
                background-color: rgba(147, 197, 253, 0.16);
                border: #0b213f solid 1px;
            }
        }
    }
    :host > .footer {
        background-color: #071426;
        border: 1px solid #0b213f;

        .emoji {
            a, a:active {
                color: white;
            }
        }
        .group {
            a, a:visited {
                color: white;
            }
        }
        .code-point {
            .code-point-detail {
                a, a:visited {
                    color: white;
                }
            }
        }
    }
}

@media (width <= 700px) {
    :host > .header {
        ::ng-deep .groupSelect {
            width: 10rem;
        }
        > .selectButton {
            display: none;
        }
        > .button {
            display: block;
        }
    }
    :host > .footer {
        .emoji {
            width: 155px;
            font-size: 7.5em;
 
            .twemoji-wrapper {
                width: 155px;
                height: 155px;
    
                img.twemoji {
                    width: 7.5rem;
                    height: 7.5rem;
                    display: block
                }
            }
        }
        .detail {
            width: calc(100% - 155px);
    
            .detail-label {
                width: 100px;
            }
            .group {
                .detail-label {
                    display: none;
                }
                .detail-value {
                    width: 100%;
                }
            }
        }
    }    
}